{% extends 'base.html' %}

{% block content %}
	<br>
	<h1> Creating a Better COVID-19 Vaccine Distribution Strategy </h1>
	<br>
	<p> This is a joint project between Alyssia Oh, Jesse Tao, Letty Wu, and Rahul Parab that attempts to improve COVID-19 vaccine distribution in California by distributing vaccines based on areas where COVID-19 is more widespread rather than just on population. It is recommended to go through the tabs at the top in order from left to right. However, if you would just like to look at the notebooks used for the project they are all below. </p>
	<p> Python packages you will need to run these notebooks include Pandas, Numpy, Matplotlib, Seaborn, Scikit-Learn, GeoPandas, Tensorflow, pmdarima, Statsmodels, Folium, Branca, and Shapely. 
	<br>
	<a href="data-cleaning-main">Data Cleaning</a>
	<br>
	<a href="EDA-main">EDA</a>
	<br>
	<a href="modeling-main">Modeling</a>
	<br>
	<a href="folium-main">Folium Map Creation</a>
	<br>
	<a href="prediction-conclusion-main">Predictions and Conclusions</a>
	<br>
	<img src="./static/imgs/covid.jpg" class="mx-auto d-block">
{% endblock %}

