{% extends 'base.html' %}

{% block content %}
<br>
<h1> Conclusion </h1>
<br>
<p> To sum up, after a thorough analysis of a variety COVID-19 Data in California and vaccine distribution, we were able to build a model that recommends how vaccines for the virus should be allocated by county based on future outbreaks rather than just population. However, implementing this model might not be wise due to the inaccuracy of our predictions for locations of COVID-19 vaccinations. We notice that forecasting is extremly difficult and even top institutions have a difficult time forecasting the pandemic using much more data. Using this model could lead to a county receiving too little or too much of the vaccine, which is very risky when people's lives are at risk. </p>
<br>
<p> Another thing we would want to potentially question with our model is the ethics of it. Can we justify using a pure mathematical model that ignores all human emotions? Should there be a priority queue for certain people to get the vaccine, such as the elderly and healthcare workers? Of course, given more time we would like to implement these things as well as others. You can find ways we thought of to improve our model <a href="further_steps">here.</a></p>

{% endblock %}

