{% extends 'base.html' %}

{% block content %}
        <br>
        <h1> Introduction </h1>
        <br>
	<p> One of the main issues with the current vaccine is that it is distributed solely based on the population of each state. To make matters worse administration of the vaccine is quite inefficient in some states, where only 50% of the total vaccines distributed are actually being given to people. Due to this problem, our goal is to build a model that distributes vaccines based on where we think the next COVID-19 outbreak will be rather than just on population.</p>
	<br>
        <p> To begin solving this problem, we collected data that included number of COVID-19 cases in California, vaccination distribution and adminitration data, mask use data, as well hospital data containing the number of available hospital and ICU beds in each county. Data was collected from the following sources:</p>
        <br>
	<p>California Open Data Portal: <a href="https://data.ca.gov/" target="_blank">https://data.ca.gov/</a>
	<p>CDC COVID Data Tracker: <a href="https://covid.cdc.gov/covid-data-tracker/#vaccinations" target="_blank">https://covid.cdc.gov/covid-data-tracker/#vaccinations</a>
	<p>New York Times COVID-19 Data: <a href="https://github.com/nytimes/covid-19-data" target="_blank">https://github.com/nytimes/covid-19-data</a>
	<p>Vaccination Distribution Allocation By Jurisdiction - Moderna: <a href="https://data.cdc.gov/Vaccinations/COVID-19-Vaccine-Distribution-Allocations-by-Juris/b7pe-5nws" target="_blank">https://data.cdc.gov/Vaccinations/COVID-19-Vaccine-Distribution-Allocations-by-Juris/b7pe-5nws</a>
	<p>Vaccination Distribution Allocation By Jurisdiction - Pfizer: <a href="https://data.cdc.gov/Vaccinations/COVID-19-Vaccine-Distribution-Allocations-by-Juris/saz5-9hgg" target="_blank">https://data.cdc.gov/Vaccinations/COVID-19-Vaccine-Distribution-Allocations-by-Juris/saz5-9hgg</a>

{% endblock %}
