{% extends 'base.html' %}

{% block content %}
<br>
<h1> Recommended Vaccination Distribution Per County for Week of 1/31 </h1>
<br>
<table id="vaccine" class="table table-bordered">
<thead>
<tr>
<th>County</th>
<th>Vaccines to be Distributed</th>
<th>Estimated Vaccines Administered</th>
<th>Population</th>
<th>People Per Vaccines Administered</th>
</tr>
</thead>
<tbody>
<tr>
<td>Alameda</td>
<td>120963.0</td>
<td>44454.0</td>
<td>1671329</td>
<td>37.597
</td>
</tr>
<tr>
<td>Amador</td>
<td>2877.0</td>
<td>1057.0</td>
<td>39752</td>
<td>37.608
</td>
</tr>
<tr>
<td>Butte</td>
<td>15864.0</td>
<td>5830.0</td>
<td>219186</td>
<td>37.596
</td>
</tr>
<tr>
<td>Calaveras</td>
<td>3322.0</td>
<td>1221.0</td>
<td>45905</td>
<td>37.596
</td>
</tr>
<tr>
<td>Colusa</td>
<td>1559.0</td>
<td>573.0</td>
<td>21547</td>
<td>37.604
</td>
</tr>
<tr>
<td>Contra Costa</td>
<td>83487.0</td>
<td>30681.0</td>
<td>1153526</td>
<td>37.597
</td>
</tr>
<tr>
<td>Del Norte</td>
<td>2013.0</td>
<td>740.0</td>
<td>27812</td>
<td>37.584
</td>
</tr>
<tr>
<td>El Dorado</td>
<td>13957.0</td>
<td>5129.0</td>
<td>192843</td>
<td>37.599
</td>
</tr>
<tr>
<td>Fresno</td>
<td>72310.0</td>
<td>26574.0</td>
<td>999101</td>
<td>37.597
</td>
</tr>
<tr>
<td>Glenn</td>
<td>2055.0</td>
<td>755.0</td>
<td>28393</td>
<td>37.607
</td>
</tr>
<tr>
<td>Humboldt</td>
<td>9811.0</td>
<td>3606.0</td>
<td>135558</td>
<td>37.592
</td>
</tr>
<tr>
<td>Imperial</td>
<td>13116.0</td>
<td>4820.0</td>
<td>181215</td>
<td>37.596
</td>
</tr>
<tr>
<td>Inyo</td>
<td>1306.0</td>
<td>480.0</td>
<td>18039</td>
<td>37.581
</td>
</tr>
<tr>
<td>Kern</td>
<td>65152.0</td>
<td>23944.0</td>
<td>900202</td>
<td>37.596
</td>
</tr>
<tr>
<td>Kings</td>
<td>11069.0</td>
<td>4068.0</td>
<td>152940</td>
<td>37.596
</td>
</tr>
<tr>
<td>Lake</td>
<td>4660.0</td>
<td>1713.0</td>
<td>64386</td>
<td>37.587
</td>
</tr>
<tr>
<td>Lassen</td>
<td>2213.0</td>
<td>813.0</td>
<td>30573</td>
<td>37.605
</td>
</tr>
<tr>
<td>Los Angeles</td>
<td>726584.0</td>
<td>267020.0</td>
<td>10039107</td>
<td>37.597
</td>
</tr>
<tr>
<td>Madera</td>
<td>11387.0</td>
<td>4185.0</td>
<td>157327</td>
<td>37.593
</td>
</tr>
<tr>
<td>Marin</td>
<td>18733.0</td>
<td>6884.0</td>
<td>258826</td>
<td>37.598
</td>
</tr>
<tr>
<td>Mariposa</td>
<td>1245.0</td>
<td>458.0</td>
<td>17203</td>
<td>37.561
</td>
</tr>
<tr>
<td>Mendocino</td>
<td>6278.0</td>
<td>2307.0</td>
<td>86749</td>
<td>37.603
</td>
</tr>
<tr>
<td>Merced</td>
<td>20097.0</td>
<td>7386.0</td>
<td>277680</td>
<td>37.595
</td>
</tr>
<tr>
<td>Modoc</td>
<td>640.0</td>
<td>235.0</td>
<td>8841</td>
<td>37.621
</td>
</tr>
<tr>
<td>Mono</td>
<td>1045.0</td>
<td>384.0</td>
<td>14444</td>
<td>37.615
</td>
</tr>
<tr>
<td>Monterey</td>
<td>31415.0</td>
<td>11545.0</td>
<td>434061</td>
<td>37.597
</td>
</tr>
<tr>
<td>Napa</td>
<td>9969.0</td>
<td>3664.0</td>
<td>137744</td>
<td>37.594
</td>
</tr>
<tr>
<td>Nevada</td>
<td>7220.0</td>
<td>2653.0</td>
<td>99755</td>
<td>37.601
</td>
</tr>
<tr>
<td>Orange</td>
<td>229842.0</td>
<td>84467.0</td>
<td>3175692</td>
<td>37.597
</td>
</tr>
<tr>
<td>Placer</td>
<td>28829.0</td>
<td>10595.0</td>
<td>398329</td>
<td>37.596
</td>
</tr>
<tr>
<td>Plumas</td>
<td>1361.0</td>
<td>500.0</td>
<td>18807</td>
<td>37.614
</td>
</tr>
<tr>
<td>Riverside</td>
<td>178807.0</td>
<td>65712.0</td>
<td>2470546</td>
<td>37.597
</td>
</tr>
<tr>
<td>Sacramento</td>
<td>112331.0</td>
<td>41282.0</td>
<td>1552058</td>
<td>37.596
</td>
</tr>
<tr>
<td>San Benito</td>
<td>4546.0</td>
<td>1671.0</td>
<td>62808</td>
<td>37.587
</td>
</tr>
<tr>
<td>San Bernardino</td>
<td>157785.0</td>
<td>57986.0</td>
<td>2180085</td>
<td>37.597
</td>
</tr>
<tr>
<td>San Diego</td>
<td>241613.0</td>
<td>88793.0</td>
<td>3338330</td>
<td>37.597
</td>
</tr>
<tr>
<td>San Francisco</td>
<td>63802.0</td>
<td>23447.0</td>
<td>881549</td>
<td>37.598
</td>
</tr>
<tr>
<td>San Joaquin</td>
<td>55161.0</td>
<td>20272.0</td>
<td>762148</td>
<td>37.596
</td>
</tr>
<tr>
<td>San Luis Obispo</td>
<td>20490.0</td>
<td>7530.0</td>
<td>283111</td>
<td>37.598
</td>
</tr>
<tr>
<td>San Mateo</td>
<td>55481.0</td>
<td>20389.0</td>
<td>766573</td>
<td>37.597
</td>
</tr>
<tr>
<td>Santa Barbara</td>
<td>32316.0</td>
<td>11876.0</td>
<td>446499</td>
<td>37.597
</td>
</tr>
<tr>
<td>Santa Clara</td>
<td>139529.0</td>
<td>51277.0</td>
<td>1927852</td>
<td>37.597
</td>
</tr>
<tr>
<td>Santa Cruz</td>
<td>19774.0</td>
<td>7267.0</td>
<td>273213</td>
<td>37.596
</td>
</tr>
<tr>
<td>Shasta</td>
<td>13033.0</td>
<td>4790.0</td>
<td>180080</td>
<td>37.595
</td>
</tr>
<tr>
<td>Siskiyou</td>
<td>3151.0</td>
<td>1158.0</td>
<td>43539</td>
<td>37.598
</td>
</tr>
<tr>
<td>Solano</td>
<td>32398.0</td>
<td>11906.0</td>
<td>447643</td>
<td>37.598
</td>
</tr>
<tr>
<td>Sonoma</td>
<td>35778.0</td>
<td>13148.0</td>
<td>494336</td>
<td>37.598
</td>
</tr>
<tr>
<td>Stanislaus</td>
<td>39854.0</td>
<td>14646.0</td>
<td>550660</td>
<td>37.598
</td>
</tr>
<tr>
<td>Sutter</td>
<td>7018.0</td>
<td>2579.0</td>
<td>96971</td>
<td>37.6
</td>
</tr>
<tr>
<td>Tehama</td>
<td>4710.0</td>
<td>1731.0</td>
<td>65084</td>
<td>37.599
</td>
</tr>
<tr>
<td>Trinity</td>
<td>889.0</td>
<td>327.0</td>
<td>12285</td>
<td>37.569
</td>
</tr>
<tr>
<td>Tulare</td>
<td>33741.0</td>
<td>12400.0</td>
<td>466195</td>
<td>37.596
</td>
</tr>
<tr>
<td>Tuolumne</td>
<td>3943.0</td>
<td>1449.0</td>
<td>54478</td>
<td>37.597
</td>
</tr>
<tr>
<td>Ventura</td>
<td>61230.0</td>
<td>22502.0</td>
<td>846006</td>
<td>37.597
</td>
</tr>
<tr>
<td>Yolo</td>
<td>15959.0</td>
<td>5865.0</td>
<td>220500</td>
<td>37.596
</td>
</tr>
<tr>
<td>Yuba</td>
<td>5694.0</td>
<td>2092.0</td>
<td>78668</td>
<td>37.604
</td>
</tr>
</tbody>
</table>

{% endblock %}
